Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -modernize-use-designated-initializers,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -readability-convert-member-functions-to-static,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-avoid-c-arrays,
  -bugprone-easily-swappable-parameters,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion

WarningsAsErrors: ''
HeaderFilterRegex: 'include/abyss/.*'

CheckOptions:
  - key: readability-braces-around-statements.ShortStatementLines
    value: '2'
